:host {
  max-width: 400px;
  width: 100%;
}
.search-result {
  overflow: auto;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: space-around;
  max-height: calc(100vh - 50px);
  margin-bottom: 50px;
}
