<div class="md-editor-container" [class.fullscreen]="isFullScreen">
  <editor-toolbar></editor-toolbar>
  <input class="form-control" type="text" [(ngModel)]="title" placeholder="Title" />
  <div class="editor-container">
    <div class="editor-panel">
      <div ace-editor [(text)]="markdown" [mode]="'markdown'" [options]="aceOptions" [readOnly]="false" [autoUpdateContent]="true"
        [durationBeforeCallback]="1000" (textChanged)="onAceChange($event)" style="min-height: 200px; width:100%; overflow: auto;"></div>
    </div>
    <!-- <md-editor [(value)]="markdown" style="min-height: 200px; width:100%; overflow: auto;"></md-editor> -->
    <div class="preview-panel" [style.display]="showPreviewPanel ? 'block' : 'none'">
      <markdown-viewer [model]="markdown"></markdown-viewer>
    </div>
    <a href="https://github.com/ajaxorg/ace/wiki/Default-Keyboard-Shortcuts" target="blank">shortcuts</a>
  </div>
</div>
<button (click)="showDemo()">demo</button>
