@import '../typography-variables';
// always using rem as size unit, 1rem = 10px
html {
  font-size: 62.5%;
}

.markdown-container {
  .blockquote {
    @include mat-typography-level-to-styles($iam-typography-config, blockquote);
    color: #555;
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-style: italic;
    border-left: 3px solid rgba(0, 0, 0, 0.84);
    padding-left: 20px;
    margin-left: 0px; // padding-bottom: 2px;
    // border-left: 0.25rem solid #eceeef;
  }
  pre[class*='language-'] {
    font-size: 90%;
    line-height: 1.2;
    code {
      // line-height: inherit;
      font-family: $code-font;
      font-size: 90%;
    }
  }

  kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
  }
  ins:before {
    content: '\21b1';
    font-size: 0.3rem;
  }
  ins:after {
    content: '\21b0';
    font-size: 0.3rem;
  }

  .CodeMirror {
    height: 100%;
    font-family: inherit;
    .cm-s-default .cm-formatting {
      opacity: 0.48;
    }

    .cm-header-1 {
      @extend h1;
    }
    .cm-header-2 {
      @extend h2;
    }
    .cm-header-3 {
      @extend h3;
    }
    .cm-header-4 {
      @extend h4;
    }
    .cm-header-5 {
      @extend h5;
    }
    .cm-header-6 {
      @extend h4;
    }
    .mat-tab-body-wrapper h2 {
      margin-top: 0;
    }
    .cm-keyword,
    .cm-def,
    .cm-def,
    .cm-comment,
    .cm-tab,
    .cm-variable,
    .cm-property,
    .cm-operator,
    .cm-string {
      font-family: $code-font;
      font-size: 90%;
    }
  }
}
