<mat-card class="doc-card">
  <mat-card-content style="cursor:pointer;">
    <div (click)="show.next(docMeta)">
      <span class="doc-id">{{docMeta.id}}</span>
      <a style="text-decoration:none">
        <div class="doc-card__row">
          <div class="doc-card__info">
            <h1 class="title-truncate">{{docMeta?.title}}</h1>
            <h2 mat-card-subtitle class="summary-truncate">{{docMeta?.summary}}</h2>
          </div>
          <div *ngIf="docMeta?.imageData"
            style="background-position:50% 50%; width:168px;height:158px;margin-top:16px;background-size: 100%;background-repeat: no-repeat;"
            [style.background-image]="'url('+docMeta?.imageData+')'"></div>
        </div>
      </a>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button class="delete-button" mat-button (click)="showDelete=true">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </mat-card-actions>
  <doc-delete *ngIf="showDelete" (cancel)="showDelete=false" (delete)="delete.emit(docMeta)" [isDone]="isDeleteDone$|async">
  </doc-delete>
</mat-card>
