<mat-card appearance="outlined">
  <mat-card-header>
    <!--this div is needed to do layout-->
    <div></div>
    <div (click)="onClick.emit(item)">
      <mat-card-title class="title">{{ item.title }}</mat-card-title>
      <mat-card-subtitle>
        Score: {{ item.score }} Id: {{ item.id }} source: {{ item.source }}
      </mat-card-subtitle>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div
      class="fragment"
      *ngFor="let textMatch of item.text_matches"
      [innerHTML]="getMatches(textMatch)"
    ></div>
  </mat-card-content>
</mat-card>
