.fragment {
  white-space: pre-wrap;
  ::ng-deep em {
    background: yellow;
    font-style: normal;
  }
}
:host {
  display: inline-block;
  max-width: 1000px;
  width: 100%;
  display: flex;
}

mat-card {
  width: 100%;
  margin-top: 3px;
  .title {
    // color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
  }
}
