<ms-viewer-toolbar
  [scrollHide]="[{ container$: markdownStore.viewer_ }]"
  [hide]="(docMode$ | async) !== DocumentMode.View"
>
</ms-viewer-toolbar>
<ms-reading-position-indicator
  *ngIf="(scrollDown$ | async)?.isDown"
  [element]="viewContainerDiv"
></ms-reading-position-indicator>
<sk-three-bounce [isRunning]="(isLoadDone$ | async) === false"></sk-three-bounce>

<div style="position:relative;height:100%;">
  <div class="viewer-container" #viewContainerDiv >
    <markdown-viewer (swipeleft)="swipe($event)"
    (swiperight)="swipe($event)" class="markdown-viewer" [model]="markdown$ | async"></markdown-viewer>
  </div>
</div>
