  .viewer-container {
    overflow-y: auto;
    overflow-x: auto;
    padding: 0px 3px 0px;
    height: 100%;
  }

  @media all and (min-width: 960px) {
    .viewer-container {
      padding: 0px 16px 0px
    }
  }

  .markdown-view {
    max-width: 1000px;
    margin: auto;
  }
