<mdc-toolbar *ngIf="!isScrollDown && isEditMode" #toolbar>
  <!-- [fixed]="!isScrollDown" -->
  <mdc-toolbar-row>
    <mdc-toolbar-section alignStart="true">
      <mdc-icon tabindex="1" routerLinkActive [routerLink]="['/']" class="mdc-toolbar__icon">
        arrow_back
      </mdc-icon>
      <mdc-toolbar-title>Edit</mdc-toolbar-title>
    </mdc-toolbar-section>
    <mdc-toolbar-section alignEnd="true">
      <mdc-icon class="mdc-toolbar__icon" (click)="undo()">undo</mdc-icon>
      <mdc-icon class="mdc-toolbar__icon" (click)="redo()">redo</mdc-icon>
      <!--visibility_off-->
      <mdc-icon class="mdc-toolbar__icon" (click)="save()">save</mdc-icon>
      <mdc-icon class="mdc-toolbar__icon" *ngIf="!gtsmBreakpoint" (click)="togglePreview()">{{markdown.showPreviewPanel?'chrome_reader_mode':'chrome_reader_mode'}}</mdc-icon>
      <!-- <a href="#/toolbar-demo" class="material-icons mdc-toolbar__icon">fullscreen</a> -->
      <mdc-icon class="mdc-toolbar__icon" (click)="toViewMode($event)">visibility</mdc-icon>
      <mdc-icon class="mdc-toolbar__icon" (click)="menu.open()">more_vert</mdc-icon>
      <mdc-menu #menu (select)="more($event)" [anchorCorner]="top-start">
        <mdc-menu-item id="0" *ngIf="!gtsmBreakpoint">{{lockScrollWithView?'UnLock Scroll':'Lock Scroll'}}</mdc-menu-item>
        <mdc-menu-item id="1">Key Map</mdc-menu-item>
        <mdc-menu-item id="2" [disabled]="true">Item 2</mdc-menu-item>
        <mdc-menu-divider></mdc-menu-divider>
        <mdc-menu-item id="3">Item 4</mdc-menu-item>
      </mdc-menu>
    </mdc-toolbar-section>
  </mdc-toolbar-row>
</mdc-toolbar>
