<mdc-toolbar fixed="true">
  <mdc-toolbar-row>
    <mdc-toolbar-section alignStart="true">
      <mdc-icon [routerLink]="['/']" class="mdc-toolbar__icon">arrow_back</mdc-icon>
      <mdc-toolbar-title>Edit</mdc-toolbar-title>
    </mdc-toolbar-section>
    <mdc-toolbar-section alignEnd="true">
      <!--visibility_off-->
      <mdc-icon class="mdc-toolbar__icon" (click)="save()">save</mdc-icon>
      <mdc-icon class="mdc-toolbar__icon" (click)="togglePreview()">{{markdown.showPreviewPanel?'visibility_off':'visibility'}}</mdc-icon>
      <!-- <a href="#/toolbar-demo" class="material-icons mdc-toolbar__icon">fullscreen</a> -->
      <mdc-icon class="mdc-toolbar__icon" (click)="toViewMode($event)">content_paste</mdc-icon>
    </mdc-toolbar-section>
  </mdc-toolbar-row>
</mdc-toolbar>
<div [ngClass]="{'tool-bar':gtsmBreakpoint}">
  <div class="btn-group">
    <!-- pull-right  -->
    <button class="btn btn-sm btn-default" type="button" title="Bold" (click)="insertContent('Bold')" *ngIf="!_hideIcons.Bold">
      <i class="fa fa-bold"></i>
    </button>
    <button class="btn btn-sm btn-default" type="button" title="Italic" (click)="insertContent('Italic')" *ngIf="!_hideIcons.Italic">
      <i class="fa fa-italic"></i>
    </button>
    <button class="btn btn-sm btn-default" type="button" title="Heading" (click)="insertContent('Heading')" *ngIf="!_hideIcons.Heading">
      <i class="fa fa-header"></i>
    </button>
    <button class="btn btn-sm btn-default" type="button" title="Refrence" (click)="insertContent('Reference')" *ngIf="!_hideIcons.Refrence">
      <i class="fa fa-quote-left"></i>
    </button>

    <button class="btn btn-sm btn-default" type="button" title="Unordered List" (click)="insertContent('Ul')" *ngIf="!_hideIcons.Ul">
      <i class="fa fa-list-ul"></i>
    </button>
    <button class="btn btn-sm btn-default" type="button" title="Ordered List" (click)="insertContent('Ol')" *ngIf="!_hideIcons.Ol">
      <i class="fa fa-list-ol"></i>
    </button>
    <button class="btn btn-sm btn-default" type="button" title="Code Block" (click)="insertContent('Code')" *ngIf="!_hideIcons.Code">
      <i class="fa fa-file-code-o"></i>
    </button>
  </div>
  <div class="btn-group">
    <button class="btn btn-sm btn-default" type="button" title="Link" (click)="insertContent('Link')" *ngIf="!_hideIcons.Link">
      <i class="fa fa-link"></i>
    </button>
    <button class="btn btn-sm btn-default" type="button" title="Image" (click)="insertContent('Image')" *ngIf="!_hideIcons.Image">
      <i class="fa fa-image"></i>
    </button>
  </div>

</div>
