:host {
  pointer-events: none;
}
a:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.mem-dirty:before {
  content: ' \25CF';
  font-size: 1.34rem;
  color: red;
  margin-top: 0.6rem;
  margin-left: 0.9rem;
  position: absolute;
}
// the blue dot
// .db-dirty:after {
//   content: ' \25CF';
//   font-size: 1.34rem;
//   color: blue;
//   margin-top: 0.5rem;
//   margin-left: -0.9rem;
//   position: absolute;
// }
.db-dirty {
  color:royalblue;
}
.net-syncing:after {
  margin-top: -2.2rem;
  margin-left: 1.25rem;
  content: "";
  display: inherit;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 0.35rem solid #3498db;
  width: 0.8rem;
  height: 0.8rem;
  animation: spin 1.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
