:host {
  pointer-events: none;
}
a:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.mem-dirty:before {
  content: ' \25CF';
  font-size: 1.34rem;
  color: red;
  margin-top: 0.6rem;
  margin-left: 0.9rem;
  position: absolute;
}
.db-dirty:after {
  content: ' \25CF';
  font-size: 1.34rem;
  color: blue;
  margin-top: 0.5rem;
  margin-left: -0.9rem;
  position: absolute;
}

.net-syncing:after {
  margin-top: -1em;
  margin-left: 0.4em;
  content: '';
  display: inherit;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 13px;
  height: 13px;
  -webkit-animation: spin 1.8s linear infinite;
  animation: spin 1.8s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
