/* You can add global styles to this file, and also import other style files */

// $mdc-theme-primary: #1565c0; // change primary color example
// $mdc-theme-secondary: #388e3c; // change secondary color example
@import "~@angular-mdc/theme";
// @import '~@angular/material/prebuilt-themes/indigo-pink';
@import '~markdown-it-latex/src/katex.css';
@import 'variables';
@import '~font-awesome/scss/font-awesome';
@import '~bootstrap/scss/bootstrap';
// @import '~highlight.js/styles/github';
@import '~prismjs/themes/prism';
/* Rules for sizing the icon. */

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.orange600 {
  color: #FB8C00;
}

.blockquote {
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border-left: .25rem solid #eceeef;
}

.warning {
  background-color: #ff8;
  padding: 20px;
  border-radius: 6px;
}

.task-list-item {
  list-style: none;
  margin-left: -20px;
}

@import "~codemirror/lib/codemirror";
@import '~codemirror/addon/scroll/simplescrollbars';
@import '~codemirror/addon/display/fullscreen';
.cm-header {
  font-family: arial;
}

.cm-header-1 {
  font-size: 150%;
}

.cm-header-2 {
  font-size: 130%;
}

.cm-header-3 {
  font-size: 120%;
}

.cm-header-4 {
  font-size: 110%;
}

.cm-header-5 {
  font-size: 100%;
}

.cm-header-6 {
  font-size: 90%;
}

.CodeMirror {
  height: 100vh;
}

.CodeMirror {
  height: calc(100vh - 38px);
}
