/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'variables';
@import '~font-awesome/scss/font-awesome';
@import '~bootstrap/scss/bootstrap';
@import '~highlight.js/styles/github';
.blockquote {
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border-left: .25rem solid #eceeef;
}

.warning {
  background-color: #ff8;
  padding: 20px;
  border-radius: 6px;
}

.task-list-item {
  list-style: none;
  margin-left: -20px;
}
