<mdc-toolbar *ngIf="!isScrollDown">
  <mdc-toolbar-row>
    <mdc-toolbar-section alignStart="true">
      <mdc-icon onclick="0" [routerLink]="['/']" class="mdc-toolbar__icon">arrow_back</mdc-icon>

      <mdc-toolbar-title>Document</mdc-toolbar-title>
    </mdc-toolbar-section>
    <mdc-toolbar-section alignEnd="true">
      <mdc-icon class="mdc-toolbar__icon" (click)="toEditMode($event)">mode_edit</mdc-icon>
      <mdc-icon class="mdc-toolbar__icon" (click)="menu.open()">more_vert</mdc-icon>
      <mdc-menu #menu (select)="more($event)" [anchorCorner]="top-start">
        <mdc-menu-item id="0">Item 1</mdc-menu-item>
        <mdc-menu-item id="1" [disabled]="true">Item 2</mdc-menu-item>
        <mdc-menu-item id="2">Item 3</mdc-menu-item>
        <mdc-menu-divider></mdc-menu-divider>
        <mdc-menu-item id="3">Item 4</mdc-menu-item>
      </mdc-menu>
    </mdc-toolbar-section>
  </mdc-toolbar-row>
</mdc-toolbar>
