<mat-toolbar #toolbar *ngIf="!isScrollDown && !isEditMode" [style.position]="isPositionFixed?'fixed':'relative'" style="z-index:20;">
  <!-- [@show]="isScrollDown===false" -->
  <mat-toolbar-row>

    <a routerLinkActive [routerLink]="['/']" mat-toolbar-icon material-icon>arrow_back</a>

    <span style="flex:1 1 auto">Document</span>


    <button class="mat-icon-button" (click)="toEditMode($event)">
      <mat-icon>
        mode_edit
      </mat-icon>
    </button>
    <button class="mat-icon-button" [matMenuTriggerFor]="menu">
      <mat-icon>
        more_vert
      </mat-icon>
    </button>
    <mat-menu #menu (select)="more($event)">
      <button id="0">Item 1</button>
      <button id="1" [disabled]="true">Item 2</button>
      <button id="2">Item 3</button>
      <button id="3">Item 4</button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
