<mat-form-field class="tags-list" appearance="none">
  <label class="label" (click)="onShowTagsCloud($event)"><span>tags:</span><mat-icon>open_in_new</mat-icon></label>
  <mat-chip-list
    #chipList
    aria-label="tags"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
  >
    <mat-chip
      class="tag"
      [style.color]="'#' + tag.color"
      [style.background-color]="'#' + tag.color + '22'"
      [style.border]="'1px solid #' + tag.color"
      [title]="tag.description ?? tag.name"
      *ngFor="let tag of tagList"
      cdkDrag
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(tag)"
    >
      {{ tag.name }}
      <button matChipRemove class="hide-button" title="delete this tag">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input
      #autoCompleteTrigger="matAutocompleteTrigger"
      placeholder="add tag..."
      [formControl]="tagInputFormControl"
      (focus)="onTagInputFocus()"
      [matAutocomplete]="auto"
      #tagInput
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="onInputEnd($event)"
    />
  </mat-chip-list>
  <mat-autocomplete
    autoActiveFirstOption
    #auto="matAutocomplete"
    [displayWith]="displayFn"
    (optionSelected)="selected($event)"
  >
    <mat-option *ngFor="let tag of filteredRepoTags" [value]="tag">
      {{ tag.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
