.tags-list {
  width: 100%;
  .tag {
    font-size: 1.4rem;
    &.cdk-drop-list-dragging {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    &:hover .hide-button{
      visibility: visible;
    }
    .hide-button{
      // margin-left: 2px;
      visibility: collapse;
    }
  }
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

}
:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0.5rem;
}


