.tags-list {
  width: 100%;
  .tag {
    &.cdk-drop-list-dragging {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    &:hover .hide-button{
      visibility: visible;
    }
    .hide-button{
      margin: 0;
      visibility: collapse;
    }
  }
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

}


