<div class="md-editor-container" [class.fullscreen]="isFullScreen">
  <div class="editor-container">
    <div class="editor-panel">
      <div ace-editor [(text)]="markdown" [mode]="'markdown'" [options]="aceOptions" [readOnly]="false" [autoUpdateContent]="true"
        [durationBeforeCallback]="1000" (textChanged)="onAceChange($event)" style="min-height: 200px; width:100%; overflow: auto;"></div>
    </div>
    <div class="preview-panel">
      <markdown-viewer [model]="markdown"></markdown-viewer>
    </div>
  </div>
</div>
