<mat-toolbar style="position:fixed; bottom:0;min-height: inherit;" class="tab-bar--dark" *ngIf="show">
  <mat-toolbar-row style="height: inherit;">

    <nav mat-tab-nav-bar style="height:inherit;text-transform:capitalize;padding:0;margin:0 auto;">
      <a mat-tab-link routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" [routerLink]="['/']">
        <mat-icon>home</mat-icon>
        <span>home</span>
      </a>
      <!-- <mat-tab>
        <mat-icon>explore</mat-icon>
        <mat-tab-icon-text>explore</mat-tab-icon-text>
      </mat-tab>
      <mat-tab routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive" [routerLink]="['/doc','new']">
        <mat-icon [fontSize]="48">add_circle</mat-icon>
      </mat-tab>
      <mat-tab>
        <mat-icon>message</mat-icon>
        <mat-tab-icon-text>message</mat-tab-icon-text>
      </mat-tab> -->
      <a mat-tab-link routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" [routerLink]="['/doc','new']">
        <mat-icon style="font-size: 4.8rem; height: auto;">add_circle</mat-icon>
        <!-- <span>new</span> -->
      </a>
      <a mat-tab-link routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" [routerLink]="['/']">
        <mat-icon>person</mat-icon>
        <span>me</span>
      </a>

    </nav>

  </mat-toolbar-row>
</mat-toolbar>
