.mat-toolbar-row {
  padding: 0 0.5rem;
  .mat-mdc-tab-nav-bar {
    justify-content: space-around;
    display: flex;
    /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
    ::ng-deep div.mat-mdc-tab-list {
      display: flex;
      justify-content: center;
    }
    ::ng-deep  .mdc-tab__text-label {
      padding: 0 0.8rem;
      flex-direction: column;
      line-height: 1.6rem;
      font-size: 1.2rem;
      min-width: inherit; // override style
      width: 6rem;
      height: auto;
      &:hover {
        text-decoration: none;
      }
      .mat-icon {
        width: 2.8rem;
        height: 2.8rem;
      }
    }
  }
}
