<div class="doc-card-container">
  <ng-container *ngFor="let doc of documents; let i = index">
    <mat-card *ngIf="doc.state!=='closed'" class="doc-card">
      <mat-card-content>
        <div (click)="show(doc)">
          <a style="text-decoration:none">
            <div class="doc-card__row">
              <div class="doc-card__info">
                <h1 class="title-truncate">{{doc.metaData?.title}}</h1>
                <h2 mat-card-subtitle class="summary-truncate">{{doc.metaData?.summary}}</h2>
              </div>
              <div *ngIf="doc.metaData?.imageData" style="background-position:50% 50%; width:168px;height:158px;margin-top:16px" [style.background-image]="'url('+doc.metaData?.imageData+')'"></div>
            </div>
          </a>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="delete(doc)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
