<sk-wave [isRunning]="!(isLoadDone$ | async)"></sk-wave>
<div class="doc-card-container">
  <ng-container *ngFor="let doc of documents; let i = index; trackBy:trackByFunc">
    <doc-item [doc]="doc" (delete)="onDelete(doc)" (show)="onShow(doc)"></doc-item>
  </ng-container>
</div>
<sk-wave style="margin-bottom: 60px;display: block;" [isRunning]="!(isLoadMoreDone$ | async)"></sk-wave>
<button mat-button style="display: block;margin: auto;" *ngIf="showGetMore$|async" (click)="onGetMore()">get more...</button>
