.doc-id {
    position: absolute;
    right: 1.2rem;
    font-size: small;
    top: 1rem;
    color: gray;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;

}

@media (max-width: 840px) and (orientation: portrait) {
  .add-as-subpage {
    display: none;
  }
}

.id-input-group {
  display: flex;
  border: lightgray solid 0.1rem;
  padding-left: 1rem;
  font-size: medium;
  height: 3rem;
  align-items: center;
}

.action-group {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-right: 1rem;
}

.id-input {
  width: 6.5rem;
  margin-top: 0.02rem;
  font: inherit;
  background: transparent;
  color: currentColor;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  text-align: inherit;
  box-sizing: content-box;
}

mat-icon {
  font-size: initial !important;
  height: initial !important;
  width: initial !important;
}

::ng-deep .mat-expansion-panel-header {
  padding: 0 !important;
}
