@import 'theme-variables';

@mixin doc-search-theme($theme) {
  $foreground: map-get($theme, foreground);
  $focused-color: mat-color($foreground, text);
  $hint: mat-color($foreground, hint-text);

  .doc-search {
    input {
      color: $focused-color;
      &::placeholder {
        color: $hint;
      }
      &:focus {
        color: $focused-color !important;
      }
    }
    .search-icon {
      color: $hint;
    }
  }
}
