$fa-font-path: '../node_modules/font-awesome/fonts';
$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$pre-color: #333;
// $code-bg:#f5f5f5;
pre {
  background-color: #f5f5f5;
}
