.md-editor-container {
  margin-bottom: 15px;
  height: 100vh;
}

// .md-edit-view-panel {
//   display: flex;
//   height: 100%;
//   align-items: stretch;
// }
// .md-edit-view-panel .md-edit-panel {
//   flex-basis: 50%;
//   flex-grow: 1;
// }
// .md-splitter {
//   width: 5px;
//   background-color: #eeeeee;
//   cursor: col-resize;
//   flex: 0 0 auto;
// }
// .md-edit-view-panel .md-view-panel {
//   border-left: 1px solid rgba(0, 0, 0, 0.1);
//   overflow-y: auto;
//   flex-basis: 50%;
//   flex-grow: 1;
// }
.md-editor-container .md-footer {
  padding: 2px;
  background-color: #f0f0f0;
  font-size: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.md-editor-container.fullscreen {
  margin: 0;
  position: fixed;
  border: 0;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
}

//http://jsfiddle.net/5n5MA/2/
.md-editor-container.fullscreen .md-editor-panel {
  height: calc(100vh - 40px) !important;
}

.md-editor-container.fullscreen .md-view-panel {
  height: calc(100vh - 40px) !important;
}

.md-editor-container .tool-bar .btn-group>.btn:first-child::before {
  content: ' ';
  background-color: darkgray;
  width: 1px;
  height: 24px;
  left: -9px;
  top: 2px;
  position: absolute;
}

.md-editor-container .tool-bar .btn-group:first-child>.btn:first-child::before {
  display: none;
}

.md-editor-container .tool-bar .btn-group.hide-split>.btn:first-child::before {
  display: none;
}

.md-editor-container .tool-bar .btn {
  margin-bottom: 0;
}

.md-editor-container .editor-container {
  display: flex;
}

.md-editor-container .editor-container>div {
  flex: 1 1 0;
  width: 0;
  min-height: 200px;
}
