<sk-three-bounce [isRunning]="!docLoaded"></sk-three-bounce>
<div class="md-editor-container" [class.fullscreen]="isFullScreen">
  <div class="editor-container">
    <div class="editor-panel" #editorDiv *ngIf="isEditMode">
      <ms-markdown-editor [(markdown)]="markdown" [editorLoaded]="editorLoaded"></ms-markdown-editor>
    </div>
    <div class="preview-panel" #viewerDiv *ngIf="!isEditMode || showPreviewPanel">
      <markdown-viewer-container [markdown]="markdown" [hideToolbar]="isEditMode&&showPreviewPanel"></markdown-viewer-container>
    </div>
    <!-- <button position="bottom-right" style="bottom:4rem" mdc-fab (click)="editModeChange()" [mini]="false">
      <mdc-icon-toggle style="color:white;" iconClass="fa" cssClassOn="fa-file-text" cssClassOff="fa-pencil" labelOn="show preview mode"
        labelOff="show edit mode">
      </mdc-icon-toggle>
    </button> -->

  </div>
</div>
<button (click)="showDemo() ">demo</button>
