<div class="md-editor-container" [class.fullscreen]="isFullScreen">
  <editor-toolbar *ngIf="this.isEditMode"></editor-toolbar>
  <div class="editor-container">
    <div class="editor-panel" #editorDiv style="min-height: 200px;" *ngIf="isEditMode">
      <monaco-editor *loadMonacoEditor [options]="editorOptions " [(ngModel)]="markdown "></monaco-editor>
    </div>
    <div class="preview-panel" #viewerDiv style="height: fit-content;" [style.display]="showPreviewPanel ? 'block' : 'none'">
      <div style="position:relative">

        <markdown-viewer [model]="markdown "></markdown-viewer>
        <button [class.edit-button-fix]="fixEditButton" [mini]="true" [class.edit-button-static]="!fixEditButton" mdc-fab class="mdc-fab"
          (click)="this.isEditMode= !this.isEditMode" [mini]="false">
          <mdc-icon>edit</mdc-icon>
        </button>
      </div>

    </div>
  </div>
</div>
<button (click)="showDemo() ">demo</button>
