<!-- <sk-three-bounce [isRunning]="!docLoaded"></sk-three-bounce> -->
<div class="markdown-container" [class.fullscreen]="isFullScreen">
  <!-- <div class="md-edit-view-panel">
    <div class="md-edit-panel" #editorDiv *ngIf="isEditMode">
      <ms-markdown-editor [(markdown)]="markdown" [editorLoaded]="editorLoaded"></ms-markdown-editor>
    </div>
    <div class="md-splitter" *ngIf="isEditMode && showPreviewPanel"></div>
    <div class="md-view-panel" #viewerDiv *ngIf="!isEditMode || showPreviewPanel">
      <markdown-viewer-container [markdown]="markdown" [hideToolbar]="isEditMode&&showPreviewPanel"></markdown-viewer-container>
    </div>
  </div> -->
  <editor-toolbar></editor-toolbar>
  <vertical-split-pane primary-component-minsize="100" secondary-component-minsize="100" [primary-component-toggled-off]="!isEditMode"
    [secondary-component-toggled-off]="isEditMode && !editWithView" local-storage-key="iam-md-split-pane" primary-component-initialratio="0.5">
    <div #editorDiv class="split-pane-content-primary">
      <ms-markdown-editor [markdown]="markdown$ | async"></ms-markdown-editor>
    </div>
    <div #viewerDiv class="split-pane-content-secondary" style="height: 100%">
      <markdown-viewer-container [markdown]="markdown$ | async"></markdown-viewer-container>
    </div>
  </vertical-split-pane>
  <div class="md-footer ">words:</div>
</div>
<!-- <button position="bottom-right " style="bottom:4rem " mdc-fab (click)="editModeChange() " [mini]="false ">
      <mdc-icon-toggle style="color:white; " iconClass="fa " cssClassOn="fa-file-text " cssClassOff="fa-pencil
    " labelOn="show preview mode "
        labelOff="show edit mode ">
      </mdc-icon-toggle>
    </button> -->
<!-- <button (click)="showDemo() ">demo</button> -->
