.markdown-container {
  table {
    margin: 1.6rem 0;
    border-collapse: collapse;
    width: 100%;
    td{
      padding: 8px;
      border: 1px solid #ddd;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }

    th {
      padding: 8px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #4c6baf;
      color: white;
    }
  }
}
